<form class="form" action="/puppies/add" method="post">
  {{!-- <label for="image" class="form-item">
    image:
    <input type="text" name="image" id="image" placeholder="image url">
  </label> --}}
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" id="name" placeholder="puppy name">
  </label>
  
  <label for="breed" class="form-item">
    Breed:
    <input type="text" name="breed" id="breed" placeholder="puppy breed">
  </label>
  
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" id="owner" placeholder="puppy owner">
  </label>
  
  <input type="submit" value="Submit">
</form>
