<div class="container">
  <a style="text-align: center; width: 100%; color: black" href="/puppies/add">Add Puppy</a>
  {{#each puppies}}
  <div class="puppy-list">
    <a href="puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
