<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{this.id}}"><img class="img-circle" src="{{this.image}}" alt="{{this.name}}"></a>
  </div>
  {{/each}}
</div>
